extends ../pug/layout_default.pug

block pageHeader
	+header(
		'О компании',
		true,
		[
			{active: true, link: 'О нас', url: '#'},
			{active: false, link: 'О сопроводительных услугах', url: '#'},
			{active: false, link: 'О производстве', url: '#'},
			{active: false, link: 'О лаборатории', url: '#'},
			{active: false, link: 'Вакансии', url: '/vacancy.html'}
		]
	)

block pageMain
