extends ../pug/layout_default.pug

block variables
	- var isMainPage = false;
	- var isAbout = false;

block pageHeader
	+header('Аудит хозяйств')

block pageMain
	+subheader(
		'Аудит хозяйств',
		true,
		[
			{active: false, link: 'Аудит хозяйств', url: '/audit.html'},
			{active: false, link: 'Расчет рациона', url: '/diet.html'},
			{active: false, link: 'Лабораторные исследования', url: '/lab.html'}
		]
	)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col
					h2.page__title.page__title_1 Аудит молочной фермы — объективная и независимая экспертная оценка
						br
						| Профессиональный и независимый взгляд на проблемы в хозяйстве.
					p.page__p Независимый аудит — лучший способ выявить проблемы, которые не дают хозяйству работать с высокой эффективностью. Мы проводим комплексный аудит молочной фермы и анализируем все выявленные проблемы. С нашей помощью клиент сможет выявить факторы, которые оказывают негативное влияние на эффективность и экономику хозяйства. Все консультанты компании являются высококвалифицированными экспертами, которые готовы провести:
						br
						br
						| Отбор проб кормов для анализа;
						br
						| Оценку кормового стола;
						br
						| Оценку перевариваемости корма;
						br
						| Оценку приготовления кормосмеси (соответствие рациону, однородность, потребление корма);
						br
						| Оценку ПСР на ключевые показатели (влажность, сортировка, структурность);
						br
						| Общую оценку стада (состояние животных, комфорт, субклинические заболевания);
						br
						| Общую оценку телят (приём отёлов, выпойка, содержание, здоровье).
					a.page__button.button.js-popup(href='#popup-audit') Заказать аудит

	+popup-audit
