extends ../pug/layout_default.pug

block pageHeader
	+header('Контакты', false)

block pageMain
	.contacts
		.grid
			.grid__row
				.grid__col
					.contacts__inner
						.contacts__item
							.contacts__icon
								svg.vacancy-apply__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__phone')
							.contacts__info
								.contacts__title Телефоны:
								a(href='tel:88432788654').contacts__phone +7 843 278 86 54
								a(href='tel:89673683323').contacts__phone +7 967 36 83 323
						.contacts__item
							.contacts__icon
								svg.vacancy-apply__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__mail')
							.contacts__info
								.contacts__title Пишите нам:
								a(href='mailto:servisagro2@gmail.com').contacts__mail servisagro2@gmail.com
						.contacts__item
							.contacts__icon
								svg.vacancy-apply__icon.svg
									use(xlink:href='img/svgSprite.svg#icon__compass')
							.contacts__info
								.contacts__title Заходите в гости:
								address.contacts__address.
									РТ, г. Казань,<br>
									ул. Поперечно-Отарская, д. 100
		.contacts__map(id="map")
			//-.map-marker
				.map-marker__icon
					svg.svg
						use(xlink:href='img/svgSprite.svg#icon__pin')
				.map-marker__title Мы находимся тут
			a(class="dg-widget-link", href="http://2gis.ru/kazan/firm/2956015536780124/center/49.127821,55.722249/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap") Посмотреть на карте Казани
			.dg-widget-link
				a(href="http://2gis.ru/kazan/center/49.127821,55.722249/zoom/16/routeTab/rsType/bus/to/49.127821,55.722249╎АгроСтар-Трейд+, производственно-торговая компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route") Найти проезд до АгроСтар-Трейд+, производственно-торговая компания
			script(charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js")
			script(charset="utf-8").
				new DGWidgetLoader({"width":"100%","height":"100%","borderColor":"#a3a3a3","pos":{"lat":55.72355131194302,"lon":49.12785530090333,"zoom":16},"opt":{"city":"kazan"},"org":[{"id":"2956015536780124"}]});
			noscript(style="color:#c00;font-size:16px;font-weight:bold;") Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
	.grid
		.grid__row
			.grid__col
				.feedback
					.feedback__title Есть вопросы? Напишите нам!
					.feedback__descr Если у вас есть вопросы но вы не хотите нам звонить или заходить в гости, отправьте нам сообщение через форму, и мы отправим вам ответ в течении некоторого времени
					form.form.feedback__form
						.form__grid
							+field('Ваше имя:', 'Укажите ваше имя', '', 'Текст ошибки', 'form__field')
							+field_phone('Номер телефона:', '+7', '', 'Текст ошибки', 'form__field')
							+field_mail('Ваш email:', 'Укажите ваш email', '', 'Текст ошибки', 'form__field')
							+field_textarea('Ваш комментарий:', 'Напишите что-нибудь', 'Текст ошибки', 'form__field')
						+checkbox(true, true, 'Нажимая на кнопку «Отправить» Вы даёте согласие на обработку своих персональных данных в соответствии со статьей 9 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных»')
						.form__error Ошибка формы
						button.form__button.button Отправить
