extends ../pug/layout_default.pug

block variables
	- var isMainPage = true;

block pageHeader
	+header('Главная')

block pageMain
	section.welcome
		.grid.welcome__inner
			.grid__row
				.grid__col
					img.welcome__img(src='img/bg__welcome.jpg' alt='')
					.welcome__info
						h1.welcome__title Продажа кормов для сельскохоз животных
						.welcome__descr Наши продукты позволяют оптимальным образом сбалансировать рацион, по питательным веществам, энергии и микроэлементам.
						a.welcome__button.button(href= pageAddress + 'production.html') Продукция
	section.section
		.grid
			.grid__row
				.grid__col
					+prod-tiles(
						[
							{
								class: 'light',
								title: 'Для повышения удоев',
								isDescr: false,
								img: 'milk',
							},
							{
								class: 'middle',
								title: 'Корма для здоровья коров',
								isDescr: false,
								img: 'cow',
							},
							{
								class: 'dark',
								title: 'Корма для выращивания телят',
								isDescr: false,
								img: 'calf',
							},
						]
					)
	section.section
		.grid
			.grid__row
				.grid__col
					.services
						h2.page__title.page__title_1 Консультационные услуги
						p.page__p Высочайшие стандарты качества продукции и удовлетворенность клиентов являются ключевыми приоритетами компании
						+services-tiles(
							[
								{
									class: 'dark',
									title: 'Аудит хозяйств',
									img: 'audit',
									href: 'audit'
								},
								{
									class: 'middle',
									title: 'Расчет рациона',
									img: 'diet',
									href: 'diet'
								},
								{
									class: 'light',
									title: 'Лабораторные исследования',
									img: 'lab',
									href: 'lab'
								}
							]
						)
	section.section
		.grid
			.grid__row
				.grid__col
					+points(
						[
							{icon: 'like',title: 'Высокое качество производимой продукции'},
							{icon: 'box',title: 'Собственное производство'},
							{icon: 'achievement',title: 'Высокий уровень специалистов'},
							{icon: 'lab',title: 'Собственная лаборатория'},
							{icon: '14',title: '14 лет на рынке'}
						]
					)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col.grid__col_lg_7
					.slider-wrap
						.slider.slider_company
							.slider__slide
								img(src='img/img__slide_01.jpg', alt='')
							.slider__slide
								img(src='img/img__slide_02.jpg', alt='')
							.slider__slide
								img(src='img/img__slide_03.jpg', alt='')
				.grid__col.grid__col_lg_5
					.slider-side
						h2.page__title.page__title_1 О компании
						p.slider-side__p Компания АгроСтар производитель и поставщик высококачественных продуктов и кормовых добавок для молочного животноводства. Нашей приоритетной задачей является внедрение передовых технологий кормления повышающих экономическую эффективность молочного хозяйства.
						a.slider-side__button.button(href='/about.html') Подробнее

