extends ../pug/layout_service.pug

block meta
	title Всплывашки

block pageMain
	.grid
		.grid__row
			.grid__col
				.trash
					.trash__item
						a.js-popup(href='#popup-vacancy') Отправить резюме
					.trash__item
						a.js-popup(href='#popup-call') Заказать звонок
					.trash__item
						a.js-popup(href='#popup-price') Узнать цену

	+popup-vacancy
	+popup-call
	+popup-price

block templates
	template(id='drag-drop-file-tpl')
		+drag-drop-file('__fileName__', '__size__', '__ext__')
