extends ../pug/layout_default.pug

block pageHeader
	//-+header('Продукция', false)
	+header(
		'О компании',
		true,
		[
			{active: false, link: 'О нас', url: '/about.html#about'},
			{active: false, link: 'Консультационные услуги', url: '/about.html#services'},
			{active: false, link: 'О производстве', url: '/about.html#prod'},
			{active: false, link: 'О лаборатории', url: '/about.html#lab'},
			{active: false, link: 'Вакансии', url: '/about.html#vacancy'}
		]
	)

block pageMain
	.grid
		.grid__row
			.grid__col
				+prod-tiles(
					[
						{
							class: 'light',
							title: 'Для повышения удоев',
							isDescr: true,
							descr: 'Для хорошей продуктивности в рационе надлежит добавлять минералы, микроэлементы, витамины',
							img: 'milk',
						},
						{
							class: 'middle',
							title: 'Корма для здоровья коров',
							isDescr: true,
							descr: 'Характерной особенностью кормления молочных голштинских коров является высокая обеспеченность рационов концентрированными кормами',
							img: 'cow',
						},
						{
							class: 'dark',
							title: 'Корма для выращивания телят',
							isDescr: true,
							descr: 'Залогом здоровья и продуктивности коров, роста прибыли и устойчивого развития бизнеса является сбалансированное кормление',
							img: 'calf',
						}
					]
				)
