extends ../pug/layout_default.pug

block pageHeader
	+header('Продукция')

block pageMain
	+subheader(
		'Продукция',
		false
	)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col
					+prod-tiles(
						[
							{
								class: 'light',
								title: 'Для повышения удоев',
								isDescr: false,
								descr: 'Для хорошей продуктивности в рационе надлежит добавлять минералы, микроэлементы, витамины',
								img: 'milk',
							},
							{
								class: 'middle',
								title: 'Для здоровья коров',
								isDescr: false,
								descr: 'Характерной особенностью кормления молочных голштинских коров является высокая обеспеченность рационов концентрированными кормами',
								img: 'cow',
							},
							{
								class: 'dark',
								title: 'Для выращивания телят',
								isDescr: false,
								descr: 'Залогом здоровья и продуктивности коров, роста прибыли и устойчивого развития бизнеса является сбалансированное кормление',
								img: 'calf',
							}
						]
					)
