extends ../pug/layout_default.pug

block pageHeader
	+header(
		'Продукция',
		true,
		[
			{active: true, link: 'Вся продукция', url: '#'},
			{active: false, link: 'Корма для выращивания телят', url: '#'},
			{active: false, link: 'Корма для здоровья коров', url: '#'},
			{active: false, link: 'Корма для повышения удоев', url: '#'},
			{active: false, link: 'Премиксы', url: '#'}
		]
	)

block pageMain
	.grid
		.grid__row
			.grid__col
				+back()
				h2.page__title.page__title_1 Корма для выращивания телят
				p.page__p Залогом здоровья и продуктивности коров, роста прибыли и устойчивого развития бизнеса является сбалансированное кормление.
				+prod-grid(
					[
						{
							title: 'Диарвит',
							descr: 'витаминно-минеральный коктейль для добавления в цельное молоко'
						},
						{
							title: 'Хелпмилк',
							descr: 'витаминно-минеральный коктейль для добавления в цельное молоко'
						},
						{
							title: 'Престартер',
							descr: 'витаминно-минеральный коктейль для добавления в цельное молоко'
						},
						{
							title: 'БМВЛ для телят АСТ/105',
							descr: 'витаминно-минеральный коктейль для добавления в цельное молоко'
						},
						{
							title: 'БМВЛ для телят АСТ/106',
							descr: 'витаминно-минеральный коктейль для добавления в цельное молоко'
						},
					]
				)
				+pagination
