extends ../pug/layout_default.pug

block pageHeader
	+header('Услуги')

block pageMain
	+subheader(
		'Услуги',
		true,
		[
			{active: false, link: 'О нас', url: '/about.html#about'},
			{active: false, link: 'Консультационные услуги', url: '/about.html#services'},
			{active: false, link: 'О производстве', url: '/about.html#prod'},
			{active: false, link: 'О лаборатории', url: '/about.html#lab'},
			{active: false, link: 'Вакансии', url: '/about.html#vacancy'}
		]
	)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col
					+services-tiles(
						[
							{
								class: 'dark',
								title: 'Аудит хозяйств',
								img: 'audit',
								href: 'audit'
							},
							{
								class: 'middle',
								title: 'Расчет рациона',
								img: 'diet',
								href: 'diet'
							},
							{
								class: 'light',
								title: 'Лабораторные исследования',
								img: 'lab',
								href: 'lab'
							}
						]
					)
