extends ../pug/layout_default.pug

block pageHeader
	+header('Услуги')

block pageMain
	+subheader(
		'Услуги',
		false
	)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col
					+services-tiles(
						[
							{
								class: 'dark',
								title: 'Аудит хозяйств',
								img: 'audit',
								href: 'audit'
							},
							{
								class: 'middle',
								title: 'Расчет рациона',
								img: 'diet',
								href: 'diet'
							},
							{
								class: 'light',
								title: 'Лабораторные исследования',
								img: 'lab',
								href: 'lab'
							}
						]
					)
