extends ../pug/layout_default.pug

block pageHeader
	+header(
		'Вакансия',
		true,
		[
			{active: false, link: 'О нас', url: 'about.html'},
			{active: false, link: 'О сопроводительных услугах', url: '#'},
			{active: false, link: 'О производстве', url: '#'},
			{active: false, link: 'О лаборатории', url: '#'},
			{active: true, link: 'Вакансии', url: '#'}
		]
	)

block pageMain
	a.js-popup(href='#popup-vacancy') Отправить резюме

block templates
	+popup-vacancy
	template(id='drag-drop-file-tpl')
		+drag-drop-file('__fileName__', '__size__', '__ext__')
