extends ../pug/layout_default.pug

block pageHeader
	+header('Видео')

block pageMain
	+subheader('Видео', false)
	section.section.section_pb
		.grid
			.grid__row
				.grid__col
					.video-grid
						.video-grid_item
							+video-tile('Ведущий производитель кормов и кормовых решений', 'Высочайшие стандарты качества продукции и удовлетворенность клиентов являются ключевыми приоритетами компании')
						.video-grid_item
							+video-tile('Высокое качество производимой продукции', 'Ключевая компетенция компании — эффективные технологии кормления, которые помогают хозяйствам становиться прибыльными.')
						.video-grid_item
							+video-tile('Передовые технологии в области кормления', 'Передовые технологии в области кормления')
						.video-grid_item
							+video-tile('Лаборатория', 'На территории производственного комплекса в г. Гагарине функционирует собственная аккредитованная испытательная лаборатория «Мустанг Технологии Кормления».')
						.video-grid_item
							+video-tile('Лаборатория оснащена современным испытательным оборудованием ведущих мировых производителей', 'Высокоэффективным жидкостным хроматографом фирмы GILSON')
