// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
	background: #4671a2;
	position: relative;
	z-index: 2;
	.page__header_mp & {
		background: transparent;
	}
	&__inner {
		display: none;
		padding: 24px 0;
		@media (min-width: $screen-md) {
			align-items: center;
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 1fr 208px 175px;
			grid-template-areas:
					'logo drop button'
					'nav nav nav';
			padding: 20px 0;
		}
		@media (min-width: $screen-xl) {
			grid-gap: 60px;
			grid-template-columns: 88px auto 208px 175px;
			grid-template-areas:
					'logo nav drop button';
		}
		&_mobile {
			display: flex;
			justify-content: space-between;
			@media (min-width: $screen-md) {
				display: none;
			}
		}
	}
	&__logo {
		grid-area: logo;
		flex: 0 0 auto;
		height: 52px;
		margin: -8px 0;
		width: 88px;
		svg {
			fill: #ffffff;
			height: 100%;
			width: 100%;
			@media (min-width: $screen-md) {
				margin: 0;
			}
		}
	}
	.page__header_mp &__logo svg {
		fill: #323441;
	}
	&__menu {
		cursor: pointer;
		display: flex;
		height: 32px;
		text-align: center;
		text-decoration: none;
		transition: transform .25s ease;
		width: 32px;
		will-change: transform;
	}
	&__menu-icon {
		background: $typography-inverse;
		border-radius: 1px;
		display: block;
		height: 2px;
		margin: auto;
		position: relative;
		width: 20px;
		&::after,
		&::before {
			background: $typography-inverse;
			border-radius: 1px;
			content: '';
			display: block;
			height: 2px;
			position: absolute;
			transition: transform .25s ease;
			width: 20px;
			will-change: transform;
		}
		&::after {
			transform: translateY(5px) rotate(0);
		}
		&::before {
			transform: translateY(-5px) rotate(0);
		}
	}
	.page__header_mp &__menu-icon {
		background: #323441;
		&::after,
		&::before {
			background: #323441;
		}
	}
	&__call {
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		height: 32px;
		width: 32px;
	}
	&__icon {
		fill: #fff;
		height: 24px;
		width: 24px;
	}
	.page__header_mp &__icon {
		fill: #323441;
	}
	&__nav {
		grid-area: nav;
	}
	&__drop {
		grid-area: drop;
		height: 32px;
		position: relative;
	}
	&__button {
		box-shadow: none;
		font-size: 16px;
		grid-area: button;
	}
}
