//- Все примеси в этом файле должны начинаться c имени блока (header)

mixin header(title)
	.header
		.grid
			.grid__row
				.grid__col
					.header__inner.header__inner_mobile
						a.header__menu.js-menu-trigger
							span.header__menu-icon
						if isMainPage === true
							.header__logo
								svg.svg
									use(xlink:href='img/svgSprite.svg#logo_as_new')
						else
							a.header__logo(href='/')
								svg.svg
									use(xlink:href='img/svgSprite.svg#logo_as_new')
						a.header__call(href='tel:88432788654')
							svg.header__icon.svg
								use(xlink:href='img/svgSprite.svg#icon__phone')
					.header__inner
						if isMainPage === true
							.header__logo
								svg.svg
									use(xlink:href='img/svgSprite.svg#logo_as_new')
						else
							a.header__logo(href='/')
								svg.svg
									use(xlink:href='img/svgSprite.svg#logo_as_new')
						.header__nav
							+nav
						.header__drop
							+phone-drop
						a.header__button.button.js-popup(href='#popup-call') Написать нам
