// В этом файле должны быть стили для БЭМ-блока vacancy, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.vacancy {
	h3 {
		color: #1a171a;
		@include tabs-h1;
		margin: 0 0 25px;
	}
	h4 {
		color: #1a171a;
		@include tabs-h2;
		margin: 40px 0 25px;
	}
	h5 {
		color: #1a171a;
		@include tabs-h3;
		margin: 32px 0 25px;
	}
	p {
		@include tabs-p;
		margin: 0 0 25px;
	}
	ol,
	ul {
		list-style: none;
		margin: 25px 0 40px;
		padding: 0;
	}
	ol {
		counter-reset: li;
	}
	li {
		color: rgba(26, 23, 26, 0.7);
		@include tabs-li;
		position: relative;
		&::before {
			left: 0;
			position: absolute;
			top: 0;
		}
	}
	li + li {
		margin-top: 16px;
	}
	ol li {
		padding-left: 24px;
		@media (min-width: $screen-sm) {
			padding-left: 32px;
		}
		&::before {
			color: #4671a2;
			content: counter(li) '.';
			counter-increment: li;
			display: block;
			width: 24px;
		}
	}
	ul li {
		padding-left: 18px;
		&::before {
			background: #4671a2;
			border-radius: 50%;
			content: '';
			height: 6px;
			margin: 4px 0 0 5px;
			width: 6px;
			@media (min-width: $screen-sm) {
				margin: 8px 0 0 6px;
			}
		}
	}
}
