@mixin field {
	font-size: 17px;
	line-height: 118%;
}
@mixin field-label {
	font-size: 16px;
	line-height: 120%;
}
@mixin filed-info {
	font-size: 14px;
	line-height: 100%;
}

@mixin header-heading {
	font-family: $font-family-heading;
	font-size: 40px;
	font-weight: 500;
	line-height: 115%;
	@media (min-width: $screen-sm) {
		font-size: 67px;
	}
}
@mixin header-nav {
	font-size: 16px;
	line-height: 120%;
	text-decoration: none;
}
@mixin header-subnav {
	font-size: 17px;
	line-height: 118%;
	text-decoration: none;
}

@mixin breadcrumbs {
	font-size: 14px;
	line-height: 115%;
	text-align: center;
	text-decoration: none;
}

@mixin footer-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
}
@mixin footer-subtitle {
	font-size: 13px;
	line-height: 115%;
}
@mixin footer-links {
	font-size: 13px;
	line-height: 125%;
	text-decoration: none;
}
@mixin footer-phone {
	font-size: 16px;
	line-height: 118%;
	text-decoration: none;
}
@mixin footer-mail {
	font-size: 13px;
	line-height: 115%;
	text-decoration-line: underline;
}
@mixin footer-address {
	font-size: 14px;
	font-style: normal;
	line-height: 136%;
}

@mixin popup-title {
	font-size: 20px;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 36px;
		text-align: center;
	}
}
@mixin popup-descr {
	font-size: 14px;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 16px;
		text-align: center;
	}
}
@mixin popup-product-title {
	font-family: $font-family-heading;
	font-feature-settings: 'pnum' on, 'lnum' on;
	font-size: 20px;
	line-height: 100%;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
}
@mixin popup-product-descr {
	font-size: 14px;
	line-height: 145%;
	@media (min-width: $screen-sm) {
		font-size: 16px;
	}
}

@mixin drag-drop-placeholder {
	font-size: 10px;
	line-height: 120%;
	text-align: center;
}
@mixin drag-drop-progress {
	font-size: 14px;
	line-height: 115%;
	text-align: center;
}
@mixin drag-drop-filename {
	font-size: 12px;
	line-height: 100%;
}
@mixin drag-drop-filesize {
	font-size: 10px;
	line-height: 100%;
}
@mixin drag-drop-error {
	font-size: 12px;
	line-height: 100%;
}

@mixin checkbox-label {
	font-size: 13px;
	line-height: 120%;
	@media (min-width: $screen-lg) {
		line-height: 150%;
	}
}

@mixin prod-tile-title {
	font-family: $font-family-heading;
	font-size: 27px;
	font-weight: 500;
	line-height: 100%;
}
@mixin prod-tile-descr {
	font-size: 15px;
	line-height: 120%;
}
@mixin prod-tile-link {
	font-size: 15px;
	font-weight: 500;
	line-height: 120%;
}

@mixin back-link {
	font-size: 18px;
	line-height: 145%;
	text-decoration: none;
}

@mixin page-title {
	font-family: $font-family-heading;
	font-size: 32px;
	font-weight: 400;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 48px;
	}
}
@mixin page-paragraph {
	font-size: 18px;
	line-height: 145%;
}
@mixin page-paragraph-secondary {
	font-size: 15px;
	line-height: 153%;
}
@mixin prod-grid-title {
	font-size: 22px;
	line-height: 120%;
}
@mixin prod-grid-descr {
	font-size: 15px;
	line-height: 120%;
}
@mixin prod-grid-link {
	font-size: 15px;
	font-weight: 500;
	line-height: 120%;
}
@mixin prod-list {
	font-size: 16px;
	line-height: 120%;
}

@mixin tabs-caption {
	font-size: 15px;
	line-height: 120%;
	@media (min-width: $screen-md) {
		font-size: 17px;
	}
}
@mixin tabs-p {
	font-size: 14px;
	line-height: 135%;
	@media (min-width: $screen-sm) {
		font-size: 17px;
	}
}
@mixin tabs-h1 {
	font-family: $font-family-heading;
	font-size: 20px;
	font-weight: 300;
	line-height: 125%;
	@media (min-width: $screen-sm) {
		font-size: 27px;
	}
}
@mixin tabs-h2 {
	font-family: $font-family-heading;
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
}
@mixin tabs-h3 {
	font-family: $font-family-heading;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 20px;
	}
}
@mixin tabs-li {
	font-size: 14px;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 18px;
	}
}

@mixin vacancy-tile-key {
	font-size: 12px;
	line-height: 115%;
	@media (min-width: $screen-sm) {
		font-size: 14px;
	}
}
@mixin vacancy-tile-value {
	font-size: 16px;
	line-height: 115%;
	@media (min-width: $screen-sm) {
		font-size: 20px;
	}
}

@mixin vacancy-apply-title {
	font-size: 28px;
	line-height: 118%;
}
@mixin vacancy-apply-descr {
	font-size: 14px;
	line-height: 115%;
}

@mixin vacancy-list-heading {
	font-size: 15px;
	line-height: 175%;
}
@mixin vacancy-list-title {
	font-size: 16px;
	line-height: 130%;
	@media (min-width: $screen-sm) {
		font-size: 20px;
	}
}
@mixin vacancy-list-place {
	font-size: 16px;
	line-height: 120%;
}
@mixin vacancy-list-day {
	font-size: 14px;
	line-height: 115%;
}

@mixin contacts-title {
	font-size: 15px;
	line-height: 18px;
}
@mixin contacts-phone {
	font-size: 16px;
	line-height: 120%;
	text-decoration: none;
	@media (min-width: $screen-sm) {
		font-size: 22px;
	}
}
@mixin contacts-mail {
	font-size: 16px;
	line-height: 120%;
	text-decoration-line: underline;
	@media (min-width: $screen-sm) {
		font-size: 22px;
	}
}
@mixin contacts-address {
	font-size: 16px;
	font-style: normal;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 22px;
	}
}

@mixin point-title {
	font-size: 18px;
	line-height: 120%;
	text-align: center;
}
