@mixin field {
	font-size: 17px;
	line-height: 118%;
}
@mixin field-label {
	font-size: 16px;
	line-height: 120%;
}
@mixin filed-info {
	font-size: 14px;
	line-height: 100%;
}

@mixin header-heading {
	font-family: $font-family-heading;
	font-size: 40px;
	font-weight: 500;
	line-height: 115%;
	@media (min-width: $screen-sm) {
		font-size: 67px;
	}
}
@mixin header-nav {
	font-size: 16px;
	line-height: 120%;
	text-decoration: none;
}
@mixin header-subnav {
	font-size: 17px;
	line-height: 118%;
	text-decoration: none;
}

@mixin breadcrumbs {
	font-size: 14px;
	line-height: 115%;
	text-align: center;
	text-decoration: none;
}

@mixin footer-title {
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
}
@mixin footer-subtitle {
	font-size: 13px;
	line-height: 115%;
}
@mixin footer-links {
	font-size: 13px;
	line-height: 125%;
	text-decoration: none;
}
@mixin footer-phone {
	font-size: 16px;
	line-height: 118%;
	text-decoration: none;
}
@mixin footer-mail {
	font-size: 13px;
	line-height: 115%;
	text-decoration-line: underline;
}
@mixin footer-address {
	font-size: 14px;
	font-style: normal;
	line-height: 136%;
}

@mixin popup-title {
	font-size: 20px;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 36px;
		text-align: center;
	}
}
@mixin popup-descr {
	font-size: 12px;
	line-height: 120%;
	@media (min-width: $screen-sm) {
		font-size: 16px;
		text-align: center;
	}
}
@mixin popup-product-title {
	font-family: $font-family-heading;
	font-feature-settings: 'pnum' on, 'lnum' on;
	font-size: 20px;
	line-height: 100%;
	@media (min-width: $screen-sm) {
		font-size: 24px;
	}
}
@mixin popup-product-descr {
	font-size: 12px;
	line-height: 145%;
	@media (min-width: $screen-sm) {
		font-size: 16px;
	}
}

@mixin drag-drop-placeholder {
	font-size: 10px;
	line-height: 120%;
	text-align: center;
}
@mixin drag-drop-progress {
	font-size: 14px;
	line-height: 115%;
	text-align: center;
}
@mixin drag-drop-filename {
	font-size: 12px;
	line-height: 100%;
}
@mixin drag-drop-filesize {
	font-size: 10px;
	line-height: 100%;
}
@mixin drag-drop-error {
	font-size: 12px;
	line-height: 100%;
}

@mixin checkbox-label {
	font-size: 13px;
	line-height: 120%;
	@media (min-width: $screen-lg) {
		line-height: 150%;
	}
}
