// В этом файле должны быть стили для БЭМ-блока subheader, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subheader {
	background: #4671a2;
	border-radius: 0 0 64px 0;
	padding: 80px 0 0;
	position: relative;
	z-index: 2;
	@media (min-width: $screen-md) {
		border-radius: 0 0 100px 0;
		padding: 138px 0 0;
	}
	@media (min-width: $screen-xl) {
		padding: 89px 0 0;
	}
	&__block {
		padding: 16px 0 0;
		@media (min-width: $screen-md) {
			padding: 48px 0 0;
		}
	}
	&__heading {
		color: #f8fafd;
		@include header-heading;
		margin: 8px 0 40px;
	}
	&__subnav {
		margin-top: -16px;
		padding-bottom: 8px;
		@media (min-width: $screen-xl) {
			padding: 0;
		}
	}
}
