// В этом файле должны быть стили для БЭМ-блока services-tiles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services-tiles {
	display: grid;
	grid-gap: 16px;
	padding: 40px 0 0;
	@media (min-width: $screen-md) {
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: $screen-lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&__item {
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		padding: 26px 26px 170px;
		position: relative;
		text-decoration: none;
		transition: transform .125s ease;
		@media (min-width: $screen-sm) {
			padding: 26px 26px 120px;
		}
		@media (min-width: $screen-md) {
			padding: 26px 26px 170px;
		}
		&:hover {
			transform: scale(1.04);
		}
		&_audit {
			background: url(/img/svgSprite.svg#img__audit-view) no-repeat right -46px bottom -47px, #3a7ad3;
			background-size: 220px 197px;
		}
		&_diet {
			background: url(/img/svgSprite.svg#img__diet-view) no-repeat right -46px bottom -47px, #669fe0;
			background-size: 220px 197px;
		}
		&_lab {
			background: url(/img/svgSprite.svg#img__lab-view) no-repeat right -46px bottom -47px, #88ceff;
			background-size: 220px 197px;
		}
	}
	&__title {
		color: #fff;
		@include prod-tile-title;
		@media (min-width: $screen-sm) {
			width: 50%;
		}
		@media (min-width: $screen-lg) {
			width: 50%;
		}
		@media (min-width: $screen-xl) {
			width: 50%;
		}
	}
	&__descr {
		color: rgba(255, 255, 255, 0.8);
		@include prod-tile-descr;
		margin-top: 21px;
		@media (min-width: $screen-sm) {
			width: 50%;
		}
		@media (min-width: $screen-lg) {
			width: 100%;
		}
		@media (min-width: $screen-xl) {
			width: 66%;
		}
	}
	&__link {
		color: rgba(255, 255, 255, 0.5);
		@include prod-tile-link;
		margin-top: auto;
		position: absolute;
		bottom: 26px;
	}
}
