// В этом файле должны быть стили для БЭМ-блока services-tiles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services-tiles {
	display: grid;
	grid-gap: 16px;
	padding: 40px 0 0;
	@media (min-width: $screen-md) {
		grid-template-columns: 1fr 1fr;
	}
	@media (min-width: $screen-lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	&__item {
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		padding: 26px 26px 96px;
		position: relative;
		text-decoration: none;
		transition: transform .125s ease;
		@media (min-width: $screen-sm) {
			padding: 26px 26px 120px;
		}
		@media (min-width: $screen-md) {
			padding: 26px 26px 170px;
		}
		&:hover {
			transform: scale(1.04);
		}
		&_dark {
			background: #3a7ad3;
		}
		&_middle {
			background: #669fe0;
		}
		&_light {
			background: #88ceff;
		}
	}
	&__title {
		color: #fff;
		@include prod-tile-title;
		@media (min-width: $screen-sm) {
			width: 50%;
		}
		@media (min-width: $screen-lg) {
			width: 50%;
		}
		@media (min-width: $screen-xl) {
			width: 50%;
		}
	}
	&__descr {
		color: rgba(255, 255, 255, 0.8);
		@include prod-tile-descr;
		margin-top: 21px;
		@media (min-width: $screen-sm) {
			width: 50%;
		}
		@media (min-width: $screen-lg) {
			width: 100%;
		}
		@media (min-width: $screen-xl) {
			width: 66%;
		}
	}
	&__link {
		color: rgba(255, 255, 255, 0.5);
		@include prod-tile-link;
		margin-top: auto;
		position: absolute;
		bottom: 26px;
		span {
			display: inline-block;
			height: 8px;
			margin: 0 0 0 8px;
			width: 8px;
			&::before {
				border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
				border-style: solid;
				border-width: 5px 0 5px 8px;
				content: '';
				display: block;
				height: 0;
				transform: translateY(-1px);
				width: 0;
			}
		}
	}
	&__img {
		bottom: 0;
		height: 99px;
		position: absolute;
		right: 0;
		transform: translate(16px, 16px);
		width: 110px;
		@media (min-width: $screen-sm) {
			height: 197px;
			transform: translate(46px, 47px);
			width: 220px;
		}
		svg {
			fill: #fff;
			height: 100%;
			width: 100%;
		}
	}
}
