//- Все примеси в этом файле должны начинаться c имени блока (services-tiles)

mixin services-tiles(items)
	.services-tiles
		each item, index in items
			a.services-tiles__item(class='services-tiles__item_' + item.class, href='#')
				.services-tiles__title!= item.title
				.services-tiles__link Подробнее
					span
