//- Все примеси в этом файле должны начинаться c имени блока (pagination)

mixin pagination
	.pagination
		.pagination__item
			span.pagination__link.pagination__link_active 1
		.pagination__item
			a.pagination__link(href="#") 2
		.pagination__item
			a.pagination__link(href="#") 3
		.pagination__item
			span.pagination__span ...
		.pagination__item
			a.pagination__link(href="#") 8
