// В этом файле должны быть стили для БЭМ-блока textarea, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.textarea {
	appearance: none;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 8px;
	box-sizing: border-box;
	@include field;
	height: 136px;
	outline: none;
	padding: 12px 16px;
	resize: none;
	transition: background .125s ease-in-out,
				border .125s ease-in-out;
	width: 100%;
	@media (min-width: $screen-lg) {
		padding: 21px 24px;
	}
	&::placeholder {
		color: rgba(0,0,0,.4);
	}
	&:focus {
		border: 1px solid #1e3d68;
	}
}
