// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	border-top: 1px solid #e8eaeb;
	padding: 24px 0 36px;
	@media (min-width: $screen-sm) {
		padding: 40px 0;
	}
	@media (min-width: $screen-xl) {
		padding: 42px 0;
	}

	&__logo {
		fill: #010101;
		height: 94px;
		width: 160px;
		@media (min-width: $screen-lg) {
			height: 74px;
			width: 126px;
		}
	}
	&__company {
		color: #8a969b;
		@include footer-company;
		margin-top: 24px;
	}
}
