//- Стандартный шаблон страницы
block variables
	- var isMainPage = false;
include mixins.pug

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=0.1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='google', content='notranslate')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')
		meta(name='theme-color', content='#4671a2')

		link(rel='icon', type='image/png', href='/img/favicon/favicon-228x228.png', sizes='228x228')

		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet")

		block meta
			title АгроСтар — Продажа кормов для сельскохоз животных
			meta(name='description', content='')
			meta(name='keywords', content='')

		block head
			link(rel="stylesheet" href="/css/style.css")
			// удалить:
			link(rel="stylesheet" href="/css/trash.css")

	body
		noscript У вас отключен JavaScript. Это пугает.

		include layout__part_navigation.pug
		.page
			.page__nav
				include layout__part_nav.pug
			.page__header
				block pageHeader
			.page__main
				block pageMain
					.fake-content fake-content
			.page__footer
				include layout__part_footer.pug
			.page__darker
	+popup-call
	block templates

	script(src='/js/main.js')
	//удалить
	script(src="/js/service.js")

	block scripts
