//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/footer-links/footer-links.pug
include ../blocks/footer-unit/footer-unit.pug
include ../blocks/header/header.pug
include ../blocks/nav/nav.pug
include ../blocks/phone-drop/phone-drop.pug
include ../blocks/subnav/subnav.pug
